<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h2>这是一个登陆页面</h2>
    <h3><%=msg%></h3>
    <ul>
            <%for(var i=0;i<list.length;i++){%>
                <li><%=list[i].temp%></li>
                <li><%=list[i].lux%></li>
            <%}%>
    </ul>

    
    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
    
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
        xAxis: {
            type: 'category',
            data: ['<%=list[0].id%>',' <%=list[1].id%>', '<%=list[2].id%>', '<%=list[3].id%>', '<%=list[4].id%>', '<%=list[5].id%>', '<%=list[6].id%>']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
            data: [<%=list[0].temp%>, <%=list[1].temp%>, <%=list[2].temp%>, <%=list[3].temp%>, <%=list[4].temp%>, <%=list[5].temp%>, <%=list[6].temp%>],
            type: 'line'
            }
        ]
        };
    
        option && myChart.setOption(option);
    
    </script>
</body>
</html>
