<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>UK punk bands</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <table>
      <caption>近期数据</caption>
      <thead>
        <tr>
          <th scope="col">日期</th>
          <th scope="col">温度</th>
          <th scope="col">光照</th>
          <th scope="col">湿度</th>
          <th scope="col">PM2.5</th>
          <th scope="col">PM10</th>
          <th scope="col">风速</th>
          <th scope="col">风向</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><%=list[0].datetime%></th>
          <td><%=list[0].temp%></td>
          <td><%=list[0].lux%></td>
          <td><%=list[0].hum%></td>
          <td><%=list[0].pm25%></td>
          <td><%=list[0].pm10%></td>
          <td><%=list[0].windv%></td>
          <td><%=list[0].windD%></td>
        </tr>
        <tr>
          <th scope="row"><%=list[1].datetime%></th>
          <td><%=list[1].temp%></td>
          <td><%=list[1].lux%></td>
          <td><%=list[1].hum%></td>
          <td><%=list[1].pm25%></td>
          <td><%=list[1].pm10%></td>
          <td><%=list[1].windv%></td>
          <td><%=list[1].windD%></td>
        </tr>
        <tr>
          <th scope="row"><%=list[2].datetime%></th>
          <td><%=list[2].temp%></td>
          <td><%=list[2].lux%></td>
          <td><%=list[2].hum%></td>
          <td><%=list[2].pm25%></td>
          <td><%=list[2].pm10%></td>
          <td><%=list[2].windv%></td>
          <td><%=list[2].windD%></td>
        </tr>
        <tr>
          <th scope="row"><%=list[3].datetime%></th>
          <td><%=list[3].temp%></td>
          <td><%=list[3].lux%></td>
          <td><%=list[3].hum%></td>
          <td><%=list[3].pm25%></td>
          <td><%=list[3].pm10%></td>
          <td><%=list[3].windv%></td>
          <td><%=list[3].windD%></td>
        </tr>
        <tr>
          <th scope="row"><%=list[4].datetime%></th>
          <td><%=list[4].temp%></td>
          <td><%=list[4].lux%></td>
          <td><%=list[4].hum%></td>
          <td><%=list[4].pm25%></td>
          <td><%=list[4].pm10%></td>
          <td><%=list[4].windv%></td>
          <td><%=list[4].windD%></td>
        </tr>
        <tr>
          <th scope="row"><%=list[5].datetime%></th>
          <td><%=list[5].temp%></td>
          <td><%=list[5].lux%></td>
          <td><%=list[5].hum%></td>
          <td><%=list[5].pm25%></td>
          <td><%=list[5].pm10%></td>
          <td><%=list[5].windv%></td>
          <td><%=list[5].windD%></td>
        </tr>
        <tr>
          <th scope="row"><%=list[6].datetime%></th>
          <td><%=list[6].temp%></td>
          <td><%=list[6].lux%></td>
          <td><%=list[6].hum%></td>
          <td><%=list[6].pm25%></td>
          <td><%=list[6].windv%></td>
          <td><%=list[6].windD%></td>
        </tr>
      </tbody>
      
    </table>
  </body>
